.date_panel{
    margin-top: 1.5em;
    height: 10em;
}

.flex_panel{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3em;
}

.scroll_button{
    margin-right: 1em;
    font-size: medium;
}
.table_button{
    margin-right: 1em;
    font-size: medium;
}

.title{
    flex: 1;
    font-size: 1.2em;
    font-weight: 500;
}